.vs/ProductManagement/FileContentIndex/730229b1-bd96-4291-9f45-c6b4bba28054.vsidx
.vs/ProductManagement/FileContentIndex/8f8eb102-c9cc-4445-89dd-0a304902ea76.vsidx
.vs/ProductManagement/FileContentIndex/aee93b46-38bf-431b-a6c9-450bf78a7d71.vsidx
.vs/ProductManagement/FileContentIndex/e3b4cfb9-bdbb-48a2-a938-b198777af5c2.vsidx
.vs/ProductManagement/FileContentIndex/fb0c9c52-d36f-4b84-862c-90a764ba10e6.vsidx
.vs/ProductManagement/v17/.suo
.vs/ProductManagement/v17/DocumentLayout.json
.vs/ProductManagement/v17/TestStore/0/013.testlog
.vs/ProductManagement/v17/TestStore/0/testlog.manifest
